/* Don't change the existing CSS. */
#outer-box{
  background-color: purple;
}
.box {
  padding :10px;
  background-color: blue;

}
p{
  color :yellow;
}
.inner-box{
  
  background-color: red;
}
.white-text{
  color :white;
}